/*-------------------------------------------------------Header Styles-------------------------------------------------------------*/
header {
    /*background: rgba(183, 196, 202, 100);*/
    color: white;
    padding: 0 20px; /* Supprimer les marges verticales */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour donner de la profondeur */
    height: 70px; /* Hauteur fixe pour le header */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo img {
    height: 70px;
}

/* Navigation Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

/* Connexion / Inscription Button */
.header-actions .btn {
    background: white;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* phone menu  */
.menu-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.phone-menu {
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: #333; 
    padding: 20px;
    width: 100%; 
    gap: 20px; 
}

.phone-menu.active {
    display: flex; 
    flex-direction: column; 
}

.menu-toggle {
    position: relative; 
}


.phone-menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

  /* Responsive styles for small screens */
  @media (max-width: 768px) {
    /* Hide the nav-links by default */
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #333;
      padding: 1rem;
      width: 100%;
    }
  
    /* Show nav-links when the menu is open */
    .nav-links.active {
      display: flex;
    }
  
    /* Show the hamburger icon on small screens */
    .menu-toggle {
      display: block;
    }
}